<div class="title"><span class="title_icon"><img src="/images/bullet1.gif" alt="" /></span><%=@sort45%></div>
      <div class="feat_prod_box_details">
       
        <div class="contact_form">
          <div class="form_subtitle"> <%=@sort45%></div>
		 
		 	<% form_tag :action=> :change_password_update do %>
            
			 <div class="form_row">
			 	<%=@sort48%>: <br/>
            	<%= password_field_tag 'old_password', @old_password, :class => 'contact_input' %>
            </div>
            
			 <div class="form_row">
			 	<%=@sort49%>: </br>
            	<%= password_field_tag 'password', {}, :class => 'contact_input' %>
            </div>
            	
			 <div class="form_row">
			 	<%=@sort50%>: </br>
            	<%= password_field_tag 'password_confirmation', {},:class => 'contact_input' %>
        	</div>
			 <div class="form_row">
        		<%= submit_tag @sort45,:class=>"checkout" %>
			</div>
    
			<%end%>
      </div>
	 </div>
    <div class="clear"></div>