	 
<div class="crumb_nav">  <%= link_to @sort1 ,:action=>:index,:controller=>:flower%> >> <%=@sort3%> </div>
      <div class="title"><span class="title_icon"><img src="/images/bullet1.gif" alt="" /></span><%=@sort3%></div>
      <div class="new_products">
      	 <% for product in @productnew%>
		 <%@p = product.product_descriptions.find_by_language_id(@language)%>
      	<div class="new_prod_box"> <%= link_to @p.product_name,:action =>:details,:id => product.id%>
          <div class="new_prod_bg"> 
		  	<span class="new_icon">
					<%=image_tag "/images/new_icon.gif"%>
			</span> 
			<%= link_to (image_tag product.picture.public_filename(),:alt=>"",:class=>"thumb", :border=>"0"),:action =>:details,:id=>product.id%> </div>
        </div>
		 <%end%>
        <div class="pagination"> <%= will_paginate @productnew %></div>
      </div>
      <div class="clear"></div>
